<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BSACLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BSACLibrary.Properties.Settings>
            <setting name="DBServerIP" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DBServerPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DBUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>periodical_publications</value>
            </setting>
            <setting name="IsAdmin" serializeAs="String">
                <value>False</value>
            </setting>
        </BSACLibrary.Properties.Settings>
    </userSettings>
</configuration>